html {
    background: #CCC;
    height: 100%;
}

body {
    background: #FFF;
    margin: 0 auto; 
    max-width: 45em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    box-shadow: 0 0em 2em 0.5em #777;
    margin-top: 2.5em;
}

header {
    text-align: center;
}

header h1 {
    margin: 0;
}
h1, h2 {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    padding-left: 1%;
}
h1{
    background: #A33; 
    padding: 1%; 
    font-size: 180%; 
    text-shadow: 2px 2px 2px #333; 
    color: white;
}
h2 { 
    background: #FDD;
}
h3 {
    padding-left: 1%;
}


#TOC {
    border: solid thin; 
    background: #F5F5F8;
    max-width: 30em;
    margin: 1em auto;
 }  
#TOC a {display: block;}
nav ul a {padding: 0.2em;} 
nav ul ul a {padding: 0 0em;}
nav ul ul ul {display: none;}
a{display: inline-block; color: #11F; text-decoration: none} 
a:focus, a:hover { background: palegreen; text-decoration: underline}
dl {margin: auto 5%;}
dt {background: #EEF;}
dd { 
    /* background-color: #F55F5F8; */
    /* box-shadow: 5px 5px 15px 0px #F5F5F5; */
}
table:not(.sourceCode) {
    margin: 0 auto;
    width: 90%;
    overflow: auto;
}
table:not(.sourceCode), tr:not(.sourceCode), td:not(.sourceCode) {
    text-align: center;
    border: solid thin #000;
}
p {
    padding-left: 1%;
    padding-right: 1%;
}
progress {
    width: 90%;
}

optgroup[label] {
    background: #EEE;
    color: black;
}
option {
    background: #512;
    color: white;
}

#myMenu, #titleBar, #upButton {
    float: middle;
    font-size: 120%;
    font-family: serif;
    text-shadow: 1px 1px 2px #AAA;
    color: white;
    background: #512;
}
#upButton {
    width: 2em;
    margin: 0 auto;
}
#myMenu {
    margin: 0 auto;
}
#MenuAndButton {
    display: inline-flex;
    margin: 0 auto;
    max-width: 50em;
    height: 100%;
}
#titleBar {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: solid thin #999;
    text-align: center;
    min-height: 2em;
    z-index: 2;
    /* box-shadow: 0px 0px 1em 0px #222; */
}
#everything {
    height: 100%;
    overflow: auto;
    position: relative;
}
figure { 
    max-width: 40em;
    margin: auto auto;
    background: #F5F5F8;
    border: solid thin #AAA;
    /* box-shadow:  0em 5px 1em 1px #AAA; */ 
}
img {
    display: block;
    margin: 1% auto;
    max-width: 95%;
    background: #FFF;
    border: solid thin #AAA;
}
figcaption {
    text-align: center;
    padding: 1%;
    padding-top: 0;
}
span[class="math inline"] {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    /* font-family: "Lucida Bright", Georgia, serif; */
    font-weight: bold;
}

table[class="sourceCode javascript numberLines"] {
    width: unset;
    margin: 1em auto;
    border: solid thin #AAA;
    /* box-shadow:  0em 0.5em 1em 1px #555; */ 
}
code:not(.sourceCode) {
    border-radius: 0.3em;
    padding: 0.3em;
}
pre code {
    border-radius: 0; padding: 0;
}
pre {
    padding: 1%;
    margin: 1em auto;
    overflow-x: auto;
    border: solid thin #AAA;
    /* box-shadow:  0em 5px 1em 1px #AAA; */ 
}
td.lineNumbers {
    border: none;
    border-right:  solid thin #cccccc;
    user-select: none;
}
td.lineNumbers pre {
    text-align: center;
    width: auto;
    box-shadow: unset;
    overflow: hidden;
    border: unset;
}
td.sourceCode pre {
    padding: 0;
    border: unset;
    box-shadow: unset;
    overflow-y: hidden;
    margin: 0;
}

.footnoteRef {
    padding-left: 0.2em;
    padding-right: 0.2em;
    /* border: dotted thin; */
}
.footnoteRef sup:after{content:"]"}
.footnoteRef sup:before{content:"["}

section.footnotes hr:before{content:"Footnote Citations"}